* , ::after , ::before{
    box-sizing: border-box;
}
a{
    color: inherit;
}
body{
    background-color: #f5f5f5 ;
}
.overlay{
    background-image: linear-gradient(rgba(0, 119, 255,0.7),rgba(0, 119, 255,0.7));
}

/* SubTitle */

.sub-title{
    position: relative;
}
.sub-title:before{
    content: "";
    position: absolute;
    height: 4px;
    background-color: #0078ff;
    width: 100px;
    bottom: -13px;
}
/* Title line */

.title .line {
    height: 6px;
    width: 50px;
    background-color: #0078ff;
    margin-inline: auto;
}
/*& Navbar */
.dropdown-toggle::after{
    border: none;
}
.navbar .collapse .line::after{
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    left: 8px;
    bottom: 0px;
    background-color: #fff;
    transition: width 300ms ;
}
.navbar .collapse .line:hover::after{
    width: 60%;
}
.navbar .nav-link{
    color: #fff;
}


/* Home Section */

.home{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(../imgs/hero-bg.jpg);
    background-position: center;
    background-size: cover;
}


/*^ About Section */
.progress{
    height: 10px;
}

/*! Services Section */

.services .service-item .service-icon{
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    border:10px solid #0078ff ;
    border-radius: 50%;
    transition:  background-color 500ms , color 500ms , border-color 500ms;
}
.services .service-item:hover{
    .service-icon{
        background-color: #0078ff;
        color: #fff;
        border-color: #9ec5fe ;
    }
}


/*^ Counter Section */

.counter {
    background-image: url(../imgs/counters-bg.jpg);
    background-position: center;
    background-size: cover;
}

.counter .counter-item .counter-icon {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    border:10px solid #fff ;
    border-radius: 50%;
}


/** Work Section */
.work .work-card img{
    transition: scale 600ms;
}
.work .work-card:hover img{
    scale: 1.2;
}


/*! Slider Section */

.slider{
    background-image: url(../imgs/overlay-bg.jpg);
    background-position: center;
    background-size: cover;
}
.slider .indicator{
    bottom: 70px;
}


/*& Blog Section */


.blog .post-category{
    background-color: #0078ff;
    height: 30px;
    position: absolute;
    padding:0px 5px;
    top:-18px;
    left: 50%;
    translate:-50% ;
    font-size: 14px;
}

.blog .post-author {
    width: 35px;
    height: 35px;
    object-fit: contain;
    object-position: center;

}
.blog a:hover{
    color: #0078ff;
}

/*^ Contact Section */

.contact{
    background-image: url(../imgs/overlay-bg.jpg);
    background-position: center;
    background-size: cover;
}
.contact .btn:hover{
    border-color: #9ec5fe ;
    background-color: #3393ff ;
}
.contact .social-icon{
    width: 30px;
    height: 30px;
}
.contact ul li{
    transition:  background-color 500ms , color 500ms , border-color 500ms;
}
.contact ul li:hover{
    background-color: #0078ff;
    color: #fff;
    border-color: #9ec5fe !important;
}
footer{
    background-color:#0062d3 ;
}